/* Estilos gerais para a página */
body {
    font-family: sans-serif;
    background-color: #fae8a1;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* O contêiner principal que centraliza nosso conteúdo */
.container {
    background-color: #f1dd8d;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(181, 176, 84);
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #191401;
}

p {
    color: #4b4802;
    margin-bottom: 20px;
}

/* Estilizando nossa área de texto (textarea) */
#blocoDeNotas {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #f4f7a6;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
    resize: vertical; /* Permite que o usuário redimensione a altura */
}

#blocoDeNotas:focus {
    outline: none;
    border-color: #fffb00;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button{
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #f4e773;
}
button:hover{
    cursor: pointer;
    background-color: #e5cf95;
}
        